
body {
	margin: 0;
	padding: 0;
	background: url(/public/images/footer-bg.png) repeat;
	font-family: 'Arvo', serif;
	font-size: 14px;
	color: #333333;
}

strong {
	color: #222222;
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -2px;
	font-size: 2.8em;
	color: #FFFFFF;
}

h3 {
	font-size: 1.6em;
}

p,ul,ol {
	margin-top: 0;
	line-height: 200%;
}

p,ol {
	
}

ul,ol {
	
}

a {
	color: #333333;
}

a:hover {
	
}

#wrapper {
	background: #E5E8DA;
}

.container {
	width: 1000px;
	margin: 0px auto;
}


/* Logo */
#logo {
	margin: 0;
	padding: 0;
}

#logo h1,#logo p {
	
}

#logo h1 {
	padding: 75px 0px 0px 0px;
	letter-spacing: -2px;
	text-align: center;
	font-size: 3em;
	line-height: 90px;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #8E8E8E;
}

#logo p a {
	color: #8E8E8E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}


#splash img {
	border-radius: 10px 10px 0 0;
	box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.1);
}

/* Search */
#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #E7EBED;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu ul {
	margin: 0;
	padding: 10px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	padding: 15px 0px 0px 0px;
}

#menu a {
	display: block;
	height: 20px;
	margin: 0px;
	padding: 10px 20px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-family: 'Play', Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #FFFFFF;
/* 	border-radius: 5px; */
	background: #E65412;
	box-shadow: inset 0px 0px 0px 2px #ED824F;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

#menu a:hover,#menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	
}

#menu {
	width: 800px;
	height: 94px;
	margin: 0 auto;
	padding: 0px;
}

#splash {
	width: 780px;
	height: 413px;
	margin: 0px auto;
}

/* Header */
#header-wrapper {
	background: url(/public/images/wrapper-bg.png) repeat-x left top;
}

#header {
	width: 800px;
	height: 136px;
	margin: 0 auto;
	padding: 0px;
}
#page {
	width: 780px;
	margin: 0px auto;
	padding: 0px 0px 20px 0px;
}

#content {
	float: right;
	width: 530px;
}

#sidebar {
	float: left;
	width: 270px;
}

#poptrox {
	width: 740px;
	margin: 0px auto;
	padding: 40px 20px 0px 20px;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.1);
	font-family: 'Play', serif;
	font-size: larger;
	text-align: center;
	margin-bottom: 20px;
	color: #707070;
	margin-bottom: 20px;
}
#chartBlock{
	width: 740px;
	height: 400px;
	display:none;
}
#chartNode{
	width: 740px;
	height: 400px;
	float: left;
}
#canvasDiv{
	width: 0px;
	height: 400px;
	display: none;
	float: left;
}/*
#canvas{
	height: 400px;
	width: 240px;
	display: none;
}*/
#gallery {
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	list-style: none;
}

#gallery li {
	float: left;
	margin: 0px;
	line-height: normal;
	padding-left: 25px;
	padding-bottom: 20px;
}

#gallery img {
	border-radius: 5px;
	border: 0;
}

#gallery a:hover img {
	
}

#gallery .nopad {
	padding-left: 0px;
}

#footer {
	overflow: hidden;
	height: 50px;
	margin: 0px auto 80px auto;
	padding: 20px 0 0 0;
	background: url(/public/images/footer-bg.png) repeat;
}

#footer p {
	margin: 0px;
	padding: 15px 0px 0px 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: #270C05;
}

#footer a {
	color: #270C05;
	text-decoration: none;
}

.styledbutton {
	padding: 5px 20px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-family: 'Play', Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #FFFFFF;
	background: #E65412;
	box-shadow: inset 0px 0px 0px 2px #ED824F;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.box1 {
	font-family: 'Play', serif;
	font-size: larger;
	text-align: center;
	margin-bottom: 20px;
	padding: 20px;
	background: #FFFFFF;
	border-radius: 0px 0px 10px 10px;
	color: #707070;
	box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	text-align: center
}

.poptrox-popup {
	border-radius: 10px 0px 10px 10px;
	box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.5);
}

.poptrox-popup .closer {
	border-radius: 0px 10px 10px 0px;
}