#{extends 'main.html' /}

Группа программистов-романтиков <b>QBIX</b>:
<p>
BigBlackBug и iliax
<br/>

Все идеи и пожелания просим отправлять на <a target="_blank" href="mailto:admin@vkmonitor.ru">admin@vkmonitor.ru</a>

<br/>
<br/>