#{extends 'main.html' /}

<h2>Admin Page</h2>
<p>

#{form @Application._setClientMode()}
<p>
	<input type="submit" value="SetClientMode" name="setclientmode" 
		class="styledbutton"/>
</p>
#{/form}

#{form @Application._setServerMode()}
<p>
	<input type="submit" value="SetServerMode" name="setservermode" 
		class="styledbutton"/>
</p>
#{/form}


#{form @Application._stopServer()}
<p>
	<input type="submit" value="StopServer" name="stopserver" 
		class="styledbutton"/>
</p>
#{/form}

<br/>
<br/>