#{extends 'main.html' /}

#{form @Application.admin_page()}
<div align="center">
	<p> 
	Admin Login: <input type="text"
			name="admin" id="admin" value="${admin}"/><br/>
	Password: <input type="password"
			name="password" id="password" />
</div>
<p>
<p align="center">
	<input type="submit" value="Зайти"
		class="styledbutton" />
</p>

#{/form}

<br/>
<br/>