#{extends 'main.html' /}

<script type="text/javascript">
	$(document).ready(function() {
		
		$("#id_info").hide();
		//$("#extra_info").hide();

		$("#id_info_link").click(function() {
			$("#id_info").slideToggle();
		});

		//$("#extra_info_link").click(function() {
		//	$("#extra_info").slideToggle();
		//});

	});
</script>

#{form @Application.show1()}
<div align="center">
	<p>
		Введите <a href="javascript:void(0)" style="text-decoration: underline;"
			id="id_info_link">идентификатор</a> пользователя соц. сети <a href="http://vk.com/" target="_blank">ВКонтакте</a>,
		чью статистику посещений вы хотите просмотреть или полный адрес страницы: <br /> <input type="text"
			name="targetId" id="targetId" />
</div>
<p>
<p align="center">
	<input type="submit" value="просмотреть / добавить"
		class="styledbutton" />
</p>
<div id="id_info">
	<strong>Идентификатор</strong> - значение, стоящее после <strong>vk.com/</strong>
	в строке браузера
	<br />
	<br />
</div>
<div id="extra_info">
	Если пользователь уже есть в нашей базе данных, то Вы сможете уже
	сейчас просмотреть статистику его посещений
	<a href="http://vk.com/" target="_blank">ВКонтакте</a> (с момента его
	добавления в нашу базу данных), а если нет, то он будет добавлен и мы
	начнём вести статистику его посещений.
</div>
#{/form}

<br />

