﻿
#{extends 'main.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}

<script src="@{'/public/javascripts/charting/charts.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/charting/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/charting/Color.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script  type="text/javascript" src="@{'/public/javascripts/dist/jquery.jqplot.min.js'}"></script>
<link rel="stylesheet" type="text/css" href="@{'/public/javascripts/dist/jquery.jqplot.css'}"/>
<script type="text/javascript" src="@{'/public/javascripts/dist/plugins/jqplot.barRenderer.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/dist/plugins/jqplot.categoryAxisRenderer.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/dist/plugins/jqplot.pointLabels.min.js'}"></script>
#{/set}
%{
	if(targetId.isNumber()){
		targetId="id"+targetId
	}
	url="http://vk.com/"+targetId
	
}%
<a href='${url}' target="_blank">${stats.getFirstName()}
<strong>${stats.getNickName()}</strong>
${stats.getLastName()}</a>
(id<span id="uid">${stats.getUserId()}</span>)
<br />


Выберите день для просмотра:
<br />
<div>

<input id="leftButton" type="button"  class="navigationButton" value="туда"> 
<input id="datepicker" type="text" placeholder="Нажми сюда">
<input id="rightButton" type="button" class="navigationButton" value="сюда"> 

</div>
<div>

	<input type="button" class="styledbutton" id="reloadButton"
	        value="Обновить" />
	<a href="javascript:void(0)"><img id="showExtraInfo" src="/public/images/info.png"/></a>
</div>
<img id="loadingImage" src="/public/images/ajax-loader.gif"/>
<br />
	Для получения более точной информации по конкретному часу
	нажмите на соответствующий столбец.<br/><br/>
<div id="extraInfo">
	Из-за того что данные, предоставляемые Вконтакте не совсем точны, мы не можем быть на 100% 
	уверены в них. Поэтому отрезки времени помечены двумя цветами.
	Зеленым цветом выделен отрезок времени, который достоверно отражает Ваш онлайн.
	Синим цветом выделен отрезок времени, в течение которого Вы могли как находиться онлайн, так и нет.
	<br/><br/>  
</div>
<span id="totalTime">asdasd</span>

<div id="noInfo">
	<br/>
	У нас нет данных на выбранный Вами момент времени. 
	<br />
	<br />
</div>
<div id="requestTimedOut">
	<br />
	Сервер не ответил вовремя на запрос. Попробуйте позднее.
	<br />
	<br />
</div>

<!-- create the chart -->
<div id="chartBlock">
	<div id="chartNode"></div>
	<div id="canvasDiv">
		<canvas id="canvas" width="260" height="400"  ></canvas>
	</div>
</div>
<br />
<span id="ruler"></span>
<script>
	$(document).ready(function(){
		main()
	})
</script>