#{extends 'main.html' /}

Сервис <b>VKMonitor</b> был написан исключительно во благо человечества и не преследует никаких корыстных целей. <br/> <br/>

Люди тратят огромное количество времени на социальные сети. Это стало неотъемлемой  частью жизни каждого индивида.
А наш сервис наглядно позволяет Вам видеть какое количество времени тратят на ВКонтакте ваши друзья, вторые половинки, кумиры.
<br/>
<br/>